*{
    color: #183153;
    font-family: cursive;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(118, 193, 255);
}
header{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.container{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 250px;
    height: 1500px;
    width: 1200px;
    min-width: 320px;
    max-width: 1200px;
    border-radius: 10px;
}
.navbar ul{
    list-style: none;
    font-size: 20px;
}
.navbar ul li{
    cursor: pointer;
    text-decoration: none;
}
.uniqueartsy a{
    text-decoration: none;
}
.nav-container{
    display: grid;
    grid-template-columns: 30px 150px 1fr 180px 30px 30px 30px 30px;
    column-gap: 20px;
    padding-right: 22px;
    justify-content: flex-end;
}
.search-field{
    margin-left: 10px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search{
    margin-top: -4px;
    height: 27px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: flex-end;
}
.fa-magnifying-glass{
    font-size: 18px;
    padding: 5px;
    opacity: 50%;
}
main{
    display: flex;
    background-color: rgb(220, 242, 252);
}
.content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px;
    gap: 10px;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
}
.items{
    width: 100%;
    height: 320px;
    border-radius: 10px;
    background-color: white;
}
.items img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.item-body{
    display: grid;
    grid-template-rows: 240px;
    margin: 5px;
    justify-content: center;
}
.item-body button{
    display: grid;
    background-color: skyblue;
    margin-top: 5px;
    height: 30px;
    border: none;
    align-content: center;
    border-radius: 8px;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .content{
        grid-template-columns: repeat(4, 1fr);
    }
    .items{
        height: 320px;
    }
}
@media screen and (max-width: 828px) {
    .nav-container{
        grid-template-columns: 30px 150px 0px 200px 30px 30px 30px 30px;
    } 

    .container{
        grid-template-rows: 100px 1fr 250px;
    }
    .search{
        margin-top: 0;
        height: 30px;
    }
    .nav-container{
        column-gap: 30px;
    }
    .navbar ul{
        font-size: 32px;
    }
    .content{
        grid-template-columns: repeat(3, 1fr);
    }
    .items{
        width: 248px;
        height: 320px;
    }
    .container{
        margin: 0;
    }
}
footer{
    background-color: #183153;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footer-container div ul li{
    color: rgb(191, 226, 255);
}
.footer-container div ul li a{
    text-decoration: none;
    color: rgb(191, 226, 255);
}
.footer-container div h3{
    color: rgb(191, 226, 255);
}
.footer-container{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-items ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.footer-items{
    margin: 15px;
}